.Contain{
   margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.btn-together{
     text-align: center;
}
.conatinn
{
    background-color: aqua;
}
.conatinn img
{
    width: 200px;
    height: 100px;
}
.active{
    
   background-color: #555;
}

.pagination a{
   margin: 5px;
}
.pagination {
   background-color: #C0C0C0 ;
   text-align: center;
   align-items: center;
 }




